.cards-rooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
 }

.card-room {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer;
}

.card-room > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-room h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-room p {
  font-size: 12px;
  opacity: 1;
  margin: 0;
}

.card-room .card-room-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-room-infos .tag-capacity {
  position: absolute;
  right: 14px;
  top: -13px;
  color: white;
  font-weight: bold;
  background-color: rgb(155, 155, 155);
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.zoom {
  transition: transform .1s;
}

.zoom:hover {
  transform: scale(1.02);
}
