.room-info {
  color: white;
  border-radius: 108px;
  margin: auto;
  width: 800px;
  padding-top: 100px;
}

.booking-form {
  margin: auto;
  width: 600px;
  padding-top: 60px;
}

.btn {
  color: white;
}

.btn:hover {
  color: white;
}

.btn-light:hover {
  background-color: rgb(230, 230, 230);
}
