<div class="container">

  <!-- Main logo in the middle of the page -->
  <div class="text-center">
      <%= image_tag "logo.svg" %>
  </div>

  <!-- Main button which redirects to the index -->
  <div class="text-center">
    <button type="button" class="home-button">
      <%= link_to "Our rooms", rooms_path %>
    </button>
  </div>
</div>
