<div class="container">
  <h1>
    Find the cheapest room<br>
    for your next solo adventure
  </h1>
  <button type="button" class="btn btn-primary">
    <%= link_to "See all rooms", rooms_path %>
  </button>
</div>
