<div style="height: 400px;
            background-image: url('https://images.pexels.com/photos/2640604/pexels-photo-2640604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');"
            >
</div>

<div class="container">
  <h1><%= @room.hotel.name %></h1>
  <p>Location: <%= @room.hotel.address %></p>
  <p>People: <%= @room.capacity %></p>
  <p>Price: <%= @room.price_per_night %></p>
</div>
